*{
    box-sizing      : border-box;
    font-size       : 1em;
    margin          : 0;
    padding         : 0;

}

body{
    background-color            : rgb(255, 185, 127);

}

/* main conatiner */

/* setup data container */
.data{
    background-color            : blueviolet;
    grid-column                 : span 12;
    padding                     : 1rem 1rem 0 1rem;
}
.text-data{
    font-size: 3.5vw;
    font-weight: bolder;
}
/* end data container */


/* setup section form search */


.search{
    background-color            : blanchedalmond;
    grid-column                 : span 12;
    width                       : 100%;
    padding                     : 1rem 1rem 0 1rem;
}


.form-search input[type=text]{

    background-color            : rgb(255, 195, 66);
    border                      : 0;
    height                      : 2.5rem;
    width                       : 80%;
}
.form-search button{
    background-color            : rgb(0, 162, 255);
    border                      : 0 ;
    height                      : 2.5rem;
    width                       : 19%;
}

 /* end setup section form search */



.container{
    background-color            : black;
    margin                      : 10rem auto;
    min-height                  : 100vh;
    width                       : 80%;
}
.container{
    display                         : grid;
    grid-template-columns           : repeat(12,1fr) ;
    grid-template-rows              :  [first] 100px [second] 100px [three] 600px [last] ;
}

/* end main container */

/* setup main content-one */

.content-one{

    background-color: rgba(165, 42, 42, 0.5);

    grid-column                 : span 12;
    grid-row                    : 3;
    padding                     : 2rem 2rem 2rem 2rem;
    width                       : 100%;
    height                      : 100%;
    

}
.content-one{
    display                     : grid;
    grid-template-columns       : repeat(3,1fr);
}

/* set upr box info */

.box-info-1,
.box-info-2,
.box-info-3 {
    
    
    border-radius           : 15% ;
    background-color        : whitesmoke;
    margin                  : auto;
    font-size               : 4rem;
    height                  : 50%;
    text-align              : center;
    position                : relative;
    
    width                   : 60%;
    
}
.text-box{
    left                    : 50%;
    font-size               : 3vw;
    padding                 : 1rem 1rem 1rem 1rem;
    position                : absolute;
    text-align              : center;
    top                     : 50%;
    transform               : translate(-50%,-50%);
}
.box-info-1{
    
    background-image        : url('/static/media/pogoda.jpg');
    background-size         : 100% 100%;

}
.box-info-2{
    
    background-image        : url('/static/media/rain.jpg');
    background-size         : 100% 100%;
  
}
.box-info-3{
    
    background-image        : url('/static/media/smog.jpg');
    background-size         : 100% 100%;
    
}



/* end set upr box info */


/* end setup main content-one */



/* respo */
@media screen and (max-width:1000px){
    
    .container{

    grid-template-columns           : repeat(1,1fr)
}
.content-one{
    grid-template-columns           : repeat(1,1fr) 
}

.box-info-1,
.box-info-2,
.box-info-3{
    border-radius: 0;
    height: 100%;
    width: 100%;
}
.text-box{
    font-size: 10vw;
}
.text-data{
    font-size: 6vw;
    font-weight: bolder;
}
}
/* end respo */