*{
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;

}

body{
    background-color            : rgb(255, 185, 127);

}

/* main conatiner */

.container{
    background-color            : black;
    margin                      : 10rem auto;
    min-height                  : 100vh;
    width                       : 80%;
}
.container{
    display                         : grid;
    grid-template-columns           : repeat(12,1fr) ;
    grid-template-rows              :  [first] 300px [second] 600px [last] ;
}

/* end main container */

/* setup main content-one */

.content-one{

    background-color            : brown;
    grid-column                 : span 12;
    padding: 2rem 2rem 2rem 2rem;
    width                       : 100%;

}
.content-one{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* set upr box info */

.box-info-1,
.box-info-2,
.box-info-3 {
    
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

/* end set upr box info */


/* end setup main content-one */