{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'grid-for-ie.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Aurora </title>
</head>
<body>
<!-- main conatiner -->   
    <div class="container">
        <section class="search">
           

                <!-- The form -->
                <form class="form-search" action="">
           
                    <input  type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                
                </form>
        </section>
    
        <section class="content-one">

                <div class="box-info-1">
                 33C
                    <hr>
                    Tychy
                </div>
                <div class="box-info-2">
                    3233
                 <hr>
                 Tychy- Opady.
                </div>
                <div class="box-info-3">
                 332
                <hr>
                Tychy - Smog
                </div>
                
        </section>


    </div>
<!-- end main container -->

</body>
</html>